@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  
}

/* Dashboard */
.main-dark{
  @apply w-full h-full flex justify-center items-center bg-blue-950 text-white transition-all duration-100;
}

.main-light{
  @apply w-full h-full flex justify-center items-center bg-white text-black transition-all duration-100;
}

/* QuickActions */
.quick-action-button{
  @apply h-full w-[32%] bg-gradient-to-br from-sky-400 
  to-sky-500 rounded-md text-2xl transition-all duration-150
  
  hover:bg-blue-950 hover:text-white;
}

/* Viewer Table */
.table-head-light{
  @apply bg-sky-400/25 rounded-lg text-white;
}

.table-head-dark{
  @apply bg-sky-200/25 rounded-lg text-sky-900;
}

.table-record-dark{
  @apply bg-sky-600/10;
}

.table-record-light{
  @apply bg-sky-300/50;
}

/* SideBar */
.sidebar-button{
  @apply w-full text-white flex min-w-fit p-2 mt-2
  bg-white/20 border-solid border border-white rounded-md text-lg justify-start items-center
  transition-all hover:bg-white hover:text-sky-700;
}

.sidebar-button-icon{
  @apply justify-start flex items-center mr-1 text-sky-700
   bg-white border-solid border border-white rounded-md p-2;
}